@page "/timekeeping"
@layout StoreManagement.Client.Layout.AdminLayout
@attribute [Authorize(Roles="STAFF, ADMIN")]

<div class="container text-center mt-5">
    <h3>Tính năng này hiện không có sẵn.</h3>
</div>
