@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Book Store</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Trang Chủ
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="bi bi-book-fill" aria-hidden="true"></span> Sản Phẩm
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="employees">
                    <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Quản lý Nhân viên
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="inventory">
                    <span class="bi bi-book-half" aria-hidden="true"></span> Kho Sách
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="receipts/create">
                    <span class="bi bi-box-seam-fill" aria-hidden="true"></span> Nhập Hàng
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="suppliers">
                    <span class="bi bi-truck" aria-hidden="true"></span> Nhà Cung Cấp
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="vouchers">
                    <span class="bi bi-ticket-perforated-fill" aria-hidden="true"></span> Khuyến Mãi
                </NavLink>
            </div>
        </AuthorizeView>
        
        <AuthorizeView Roles="Staff">
             <div class="nav-item px-3">
                <NavLink class="nav-link" href="timekeeping">
                    <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> Chấm công
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="inventory">
                    <span class="bi bi-book-half" aria-hidden="true"></span> Kho Sách
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}